# Specifies files to intentionally not track by Git

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production build folders
/www
/platforms
/plugins
/ios
/android
/dist
/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# IDE - JetBrains/WebStorm
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - Eclipse
.settings/
.project
.buildpath

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.angular/cache
.gradle

# System Files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled output
*.map
*.js.map