// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-medium: #8c8c8c;
    --ion-color-dark: #1e2022;
    --ion-font-family: 'Neue Haas Display', sans-serif;
  }